*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #000;
    padding: 20px 80px;
    border-bottom: solid 3px #D10024;
    display: flex;
    justify-content: space-between; /*distribuição horizontal*/
    align-items: center; /*alinhamento vertical*/
}

.bt-cart{
    text-decoration: none; /*remover sublinhado*/
    color: #FFF;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.bt-cart b{
  background-color: #D10024;
  border-radius: 50%;
  padding: 2px 6px;
  position:relative; 
  top: -32px; 
  left: -20px;
}

.campo-a{
    background-color: #FFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 30px;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    color: #7b7b7b;
    border: solid 1px #ccc;
}

.campo-b{
    background-color: #FFF;
    height: 30px;
    width: 220px;
    padding: 5px 10px;
    color: #7b7b7b;
    border: solid 1px #ccc;
    box-sizing: border-box;
    margin-left: -1px;
}

.campo-c{
    background-color: #D10024;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    width: 80px;
    padding: 5px 10px;
    text-align: center;
    color: #FFF;
    border: solid 1px transparent;
    font-weight: 600;
}

a i{
    display: block;
    font-size: 20px;
    margin-left: -25px;
}

nav{
    padding: 10px 63px;
    border-bottom: solid 1px #ccc;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    margin: 2px 15px;
}

li a{
    text-decoration: none;
    color: #7b7b7b;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

li a:hover{
    border-bottom: solid 1px #D10024;
    color: #D10024;
}

.banner{
    margin: 25px 0;
    width: 100%;
}

.vitrine{
    padding: 10px 63px;
    display: flex;
    justify-content: space-between;
}

.item{
    border: solid 1px #ccc;
    width: 20%;
    padding: 20px;
}

.item img{
    width: 100%;
}

.cat{
    text-align: center;
    font-size: 12px;
    color: #7b7b7b;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
}

.nome{
    text-align: center;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
    font-weight: 600;
}

.preco{
    text-align: center;
    font-size: 16px;
    color: #D10024;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
    font-weight: 600;
}

.preco small{
    color: #7b7b7b;
    font-size: 12px;
    text-decoration: line-through;
}

.form-news{
    border-top: solid 1px #ccc;
    padding: 25px;
    text-align: center;
    margin-top: 40px;
}

.titulo-news{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 20px;
}

.titulo-news b{
    text-transform: uppercase;
    font-weight: 600;
}

.menu-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.link-rede{
    display: inline-block;
}

.link-rede a{
    color: #000;
    border: solid 1px #ccc;
    padding: 5px;
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: 3px;
}

.link-rede a i{
    font-size: 12px !important;
    margin-left: 0;
}

.padrao{
    box-sizing: border-box;
    width: 300px;
    text-align: left;
}

footer{
    background-color: #000;
    border-top: solid 2px #D10024;
    height: 120px;
}

footer p{
    text-align: center;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 60px;
}